@import "tailwindcss";
:root {
  --Primary-900: #002646;
  --Primary-800: #083b82;
  --Primary-700: #0066bd;
  --Primary-500: #0968b8;
  --Primary-400: #478eca;
  --Primary-300: #2a8dcf;
  --Primary-200: #c1d9ed;
  --Primary-100: #f2f9ff;
  --Purple-900: #3d2e86;
  --Purple-800: ;
  --Purple-700: ;
  --Purple-600: ;
  --Purple-500: #5666c5;
  --Purple-400: ;
  --Purple-300: #5666c5;
  --Purple-200: ;
  --Purple-100: ;
  --Gray-900: #3b3c40;
  --Gray-800: #8692a6;
  --Gray-700: #5a5a5a;
  --Gray-600: #bfbfbf;
  --Gray-500: #d9d9d9;
  --Gray-400: #f9f9f9;
  --Gray-300: #f2f2f2;
  --Gray-200: #eaecf0;
  --Gray-100: #eaedf3;
  --Gray: #e6e6e6;
  --GrayLight: #0b45651a;
  --Green-900: #114a31;
  --Green-800: #175d3e;
  --Green-700: #1e704c;
  --Green-500: #25845a;
  --Green-400: #49a377;
  --Green-300: #60ad86;
  --Green-200: #8ac2a3;
  --Green-100: #c5e0d0;
  --Green-Light: #e7f6eb;
  --Red-900: #bf3636;
  --Red-800: ;
  --Red-700: ;
  --Red-600: ;
  --Red-500: #e45555;
  --Red-400: ;
  --Red-300: #cf6868;
  --Red-200: ;
  --Red-100: #f6e7e7;
  --Yellow-900: #ffcf5c;
  --Yellow-800: ;
  --Yellow-700: ;
  --Yellow-600: ;
  --Yellow-500: ;
  --Yellow-400: ;
  --Yellow-300: #ffdb85;
  --Yellow-200: ;
  --Yellow-100: #f9efda;
  --Yellow-Dark: #e1b147;
  --Sapphire: #268ea6;
  --OceanLight: #b7e9f6;
  --ScrollBar: #aeaeae;
  --BlackLight: #242425;
  --BlackDark: #111111;
  --EyeIconColor: #2c9969;
}
